/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.search-bar {
  display: flex;
  flex-direction: column; /* Change to column layout on smaller screens */
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

/* Adjust the position of the delete icon */
.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 40px;
}

.delete-icon i {
  color: #ff0000;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table thead {
  background-color: #f8f8f8;
}

.table thead th {
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.table tbody {
  background-color: #fff;
}

.table tbody td {
  padding: 10px 20px;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow pagination buttons to wrap on smaller screens */
  margin-top: 10px;
}

/* Add styles for pagination status */
.pagination-status {
  font-size: 14px;
  color: #555;
  margin-top: 10px; /* Add space between the table and pagination status */
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .next-page,
.pagination .last-page {
  display: none;
}

.page-number {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.table tbody tr.selected {
  background-color: #96919152;
}